@charset "utf-8";
/*ESTILOS GENERALES*/
p, a, li, h1,h2, h3, h4, h5, h6 {
	font-family:apex new;
}
/*CABECERA*/
.cabecera{
	width:100%;
	overflow:hidden;
	background-color:#f0dbec;
}
.logo{
	width:30%
	overflow:hidden;
	float:left;
}
.logo img{
	width:200px;
	margin:10px 5px 5px 15px;
}
.menu{
    width:68%;
	float:left;	
}
.menu ul li{
    list-style:none;
	float:left;
	,argin-top:-5px; 
}
.menu ul li a{
    color:ffffff;
	text-decoration:none;
	margin-right:20px;	
	font-size:12px;
}
.social{
	width:5%;
	float:left;
	overflow:hidden;	
	margin-top:20px;
}/* CSS Document */
.social img{
	width:30px;
	height:30px;
}
/*PARALLAX*/
.parallax{
    width:100;
	height:300px;
	overflow:hidden;
	background-image:url("imagenes/parallax.jpg");
	background-attachment:fixed;
}
.parallax h3{
    text-align:center;
	background-color:rgba(255,255,255, 0.6);
	padding:10px;
	color:#555;
	font.size:36px;
}
/*PLAZA DE COLCHONES*/
.plaza{
    width:1200px;
	margin: 30px auto 0px auto;
	overflow:hidden;
}
.plaza img{
    float:left;
}
.plaza h3{
    color:#C9050C;
    text-align:right;
	font-weight:bold;
}
.plaza1{
    margin:0px 20px 20px 20px
}
.plaza2{
    margin:15px 0px 0px 20px;
}
